
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}



audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}



audio:not([controls]) {
    display: none;
    height: 0;
}



[hidden] {
    display: none;
}



html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}



html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}



body {
    margin: 0;
}



a:focus {
    outline: thin dotted;
}



a:active,
a:hover {
    outline: 0;
}



h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}


b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}



dfn {
    font-style: italic;
}



mark {
    background: #ff0;
    color: #000;
}



p,
pre {
    margin: 1em 0;
}


